.WeatherForecast {
  text-align: center;
}

.WeatherForecast-max {
  font-size: 14px;
}

.WeatherForecast-min {
  opacity: 0.6;
  font-size: 14px;
}

.WeatherForecast .WeatherForecast-img {
  width: 36px;
  height: 36px;
  margin: 0px;
}
